<div class="medium-list">
    <button mat-flat-button color="primary" style="width: 295px;margin: 2px" routerLink="/register" class="divider">Inregistrare</button>
    <button mat-flat-button color="accent" style="width: 295px;margin: 2px" routerLink="/login" class="divider">Logare</button>
    <div class="list-viewer-wrapper">
      <div class="list-header-title">Recuperare date autentificare</div>

      <form [formGroup]="recoveryForm" (ngSubmit)="recoveryForm.valid && onSubmit()" novalidate>
        <div class="form-container">
          <mat-form-field>
              <input id="email"
                     matInput
                     formControlName="email"
                     [(ngModel)]="user.email"
                     placeholder="Email" />
            </mat-form-field>
            <button mat-flat-button color="accent" type="submit"
                  class="mat-raised-button mat-primary"
                  [disabled]="!recoveryForm.valid">Trimite</button>
        </div>
        </form>
