<div class="medium-list">
  <div class="list-viewer-wrapper">
    <div class="list-header-title">Logare</div>

    <form [formGroup]="loginForm" (ngSubmit)="loginForm.valid && onLoginSubmit()" novalidate>
      <div class="form-container">  
        <mat-form-field>
            <input id="username"
                   matInput
                   formControlName="username"
                   [(ngModel)]="user.username"
                   placeholder="Nume utilizator" />
          </mat-form-field>

        <mat-form-field>
            <input id="password"
                   matInput
                   formControlName="password"
                   [(ngModel)]="user.password"
                   placeholder="Parola"
                   [type]="hide ? 'password':'text'" />
              <mat-icon matSuffix (click)="hide = !hide">
                {{hide ? 'visibility' : 'visibility_off'}}
              </mat-icon>
          </mat-form-field>

          <button mat-flat-button color="accent" type="submit" 
                  class="mat-raised-button mat-primary" 
                  [disabled]="!loginForm.valid">Logare</button>
          <button mat-flat-button color="primary" routerLink="/register" class="divider">Inregistrare</button>
      </div>
    </form>

  <div>
    <button class="btn btn-primary" style="margin-left: 2px;margin-top: 2px; width: 50;padding: 4px 12px; font-size: 12px; line-height: 20px;color: aliceblue ;background-color: #385998;border-color: #385998;" (click)='facebooklogin()'><i class="fa fa-facebook"></i>Facebook</button>
    <button class="btn btn-primary" style="margin-left: 2px;margin-top: 2px; width: 50;padding: 4px 12px; font-size: 12px; line-height: 20px;color: aliceblue ;background-color: #C63D2D;border-color: #C63D2D;" (click)='googlelogin()'><i class="fa fa-google"></i>Google</button>
  </div>
  <div class="list-header-title">Ti-ai uitat datele?</div>

  <mat-form-field>
    <input id="email"
           matInput
           formControlName="email"
           placeholder="Adresa de email" />
  </mat-form-field>
  <div></div>
  <button mat-flat-button color="accent" type="submit" 
                  class="mat-raised-button mat-primary" >Nume utilizator</button>
  <button mat-flat-button color="primary" class="divider">Parola</button>
</div>